{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}
 {{ lib.panel_begin(title) }}

    <div class="panel-body list-container">
	    <a href="/csvtodatabaseview/form" class="btn btn-sm btn-primary" id="uploadbutton"
	       title="Add a new database table based on a local CSV file" rel="tooltip" data-toggle="tooltip">
	       <i class="fa fa-table"> Import CSV</i>
	    </a>    

    {% block list_search scoped %}
        {{ widgets.get('search')()|safe }}
    {% endblock %}

    {% block list_list scoped %}
        {{ widgets.get('list')()|safe }}
    {% endblock %}
    </div>

 {{ lib.panel_end() }}
{% endblock %}